@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


header{
    width: 99.7%;
    height: 915px;
    border: 3px solid green;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  
}
/* nav style start here */

.nav-items{
    list-style: none;
    display: flex;
    width: 500px;
    height: 50px;
    justify-content:center;
    margin-top: 50px;
}

.nav-items li a{
    text-decoration: none;
    
    padding: 8px 23px;
    
}

.nav-item{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    border-radius: 45px;
}

.nav-name{
 color: rgb(230, 83, 60);
font-size: 3rem;
font-weight: 800;
font-style: italic;
}

.nav-position{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 2% 10%;    
}

.special-icon{
    font-weight: bold;
    background: rgb(230, 83, 60);
}
/* banner section style here */

.banner-container{
    display: flex;
    margin: 1% 30% 1% 10%;
}

.banner-box{
    margin-right: 45%;
    margin-bottom: 10%;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.banner-titel{
color: rgb(255, 255, 255);
font-size: 4rem;
font-weight: 900;
text-align: left;
margin-bottom: 5%;
margin-top: 7%;
}

.shape{
    font-style:;
}
.banner-p{
color: rgba(255, 255, 255, 0.5);
font-size: 1.2rem;
font-weight: 400;
text-align: left;
margin-bottom: 5%;
}

button{
width: 224px;
height: 54px;
align-items: flex-start;
padding: 1% 2%;
margin: 5% 1%;
border-radius: 45px;
font-weight: bold;
font-size: 1.2rem;
color: rgb(255, 255, 255);
border: 2px solid white;
background-color:transparent;
}

.banner-image{
  margin-bottom: 8.5%;
}
.banner-image img{
    height: 125%;
    margin-top: -4%;
    
}
/* SHARE STYLE */
.share-button{
    color: rgb(255, 255, 255);
    background: rgb(260, 100, 60);
    border: none;
}

.kisu-bolar-nai-vai{
    height: 50px;
    width: 50px;
    background-color: orangered;
    border-radius: 50px;
}

.button-picture{
    display: flex;
    border: 2px solid red;
    align-items: center;
    width: 50%;
    height: 12%;
    border-radius: 9px;
    justify-content: space-around;
    background: transparent;
    margin-top: -49%;
    margin-left: -25%;
}

.mew-one{
    color: white;
    font-size: 2rem;
    width: bold;
    font-weight: 800;
}

.video-tutorial{
    color:aliceblue;
}
.button-picture-two{
    border: 2px solid green;
    width: 48%;
    height: 12%;
    margin-top: -125%;
    margin-left: 89%;
    text-align: center;
    border-radius: 10px;
    background: transparent;
}

 /* habits  style start here */

 .habbit-box{
    margin: 3% 10%;
 }

 .habit-titel{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
 }

 .habbit-discription{
    text-align: center;
    margin: 2% 20%;
    color: rgba(255, 255, 255, 0.5);
 }

 .habit-item-boxs{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
 }

 .habit-item-boxs div img{
    border-radius: 50%;
 }

 .habit-item-boxs div h3{
    margin-top: 7%;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
 }

 .habit-item-boxs div p{
    color: rgba(255, 255, 255, 0.5);
    margin: 5%;
 }

 /* run section style start here */
 .run-box{
    margin: 5% 10%;
    background: rgb(34, 34, 34);
    display: flex;
    border-radius: 15px;
    align-items: center;
    padding: 3%;
    height: 400px;
    justify-content: space-evenly;
 }

 .run-box div img{
    width: 80%;
    height: 80%;
    border-radius: 15px;
    margin-left: 25%;
 }

 .about-run h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 4%;
 }

 .about-run p{
    color: rgba(255, 255, 255, 0.5);
    margin-right: 30%;
    margin-bottom: 8%;
 }

 #join-now{
    width: 224px;
    height: 54px;
    padding: 1.5% 7%;
    border-radius: 45px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    margin-bottom: 15%;
}
