@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.dancing-script-font {
  font-family: "Dancing Script",cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
}

/* shapa a use kora font maybe paid tai aita dilam asha kori kono problems nai */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


header{
    height: 920px;
    background: rgb(82, 86, 89);
    background: linear-gradient(
        to top,      
        rgba(119, 119, 119, 0),
        rgba(80, 80, 80, 0.7), 
        rgba(119, 119, 119, 0)   
    );
  
}
/* nav style start here */

.nav-items{
    list-style: none;
    display: flex;
    width: 455px;
    height: 51px;
    justify-content:center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 45px;
}

.nav-items li a{
    text-decoration: none;
    padding: 13px 27px;
}

/* mew */
.material-symbols-outlined li svg{
    display: none;
}
.nav-items li{
    display: inline-block;
}
.nav-item{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    border-radius: 45px;
}

.nav-name{
 color: rgb(230, 83, 60);
font-size: 5rem;
font-weight: 800;
font-style: italic;
}

.nav-position{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 10%;  
    margin-top: 2%;
}

.special-icon{
    font-weight: bold;
    background: rgb(230, 83, 60);
}
/* banner section style here */

.banner-container{
    display: flex;
    width: 99.9%;
    height: 710px;
    justify-content: space-around;
}

.banner-box{
    margin-top: 3%;
    height: 100%;
    width: 40%;
    margin-left: 5%;
}

.banner-titel{
color: rgb(255, 255, 255);
font-size: 5rem;
font-weight: 900;
text-align: left;
margin-bottom: 5%;
margin-top: 7%;
width: 100%;
}
 
.banner-p{
color: rgba(255, 255, 255, 0.5);
font-size: 1.2rem;
font-weight: 400;
text-align: left;
margin-bottom: 5%;
}

button{
width: 35%;
height: 55px;
align-items: flex-start;
padding: 1% 2%;
margin: 5% 1%;
border-radius: 45px;
font-weight: bold;
font-size: 1.2rem;
color: rgb(255, 255, 255);
border: 2px solid white;
background-color:transparent;
}

.banner-image{
    margin-left: 0%;
    margin-right: 3%;
    margin-top: 0;
}
.banner-image img{
    height: 115%;
    max-height: 785px; 
    position: relative;
}
/* SHARE STYLE */
.share-button{
    color: rgb(255, 255, 255);
    background: rgb(260, 100, 60);
    border: none;
    height: 60px;
}

.kisu-bolar-nai-vai svg{
    height: 50px;
    width: 50px;
}
.kisu-bolar-nai-vai{
    height: 50px;
    width: 50px;
    background-color: orangered;
    border-radius: 50px;
    margin-left: 0px;
}

.button-picture{
    display: flex;
    align-items: center;
    width: 12%;
    height: 11%;
    border-radius: 9px;
    margin-top: -11%;
    margin-left: -6%;
    position: absolute;
    color: transparent;
    border: 1px solid rgb(82, 86, 89);
    background: rgba(255, 255, 255, 0.1);
    justify-content: space-evenly;
}

.mew-one{
    color: white;
    font-size: 2rem;
    width: bold;
    font-weight: 800;
}

.video-tutorial{
    color:rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
}
.button-picture-two{
    border: 1px solid rgb(82, 86, 89);
    margin-top: -28%;
    margin-left: 16%;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    padding: 1%;
}

 /* habits  style start here */

 .habbit-box{
    margin: 3% 10%;
 }

 .habit-titel{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
 }

 .habbit-discription{
    text-align: center;
    margin: 2% 20%;
    color: rgba(255, 255, 255, 0.5);
 }

 .habit-item-boxs{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
 }

 .habit-item-boxs div img{
    border-radius: 50%;
    border: 4px solid rgb(82, 86, 89);
 }

 .habit-item-boxs div h3{
    margin-top: 7%;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
 }

 .habit-item-boxs div p{
    color: rgba(255, 255, 255, 0.5);
    margin: 5%;
 }

 /* run section style start here */
 .run-box{
    margin: 5% 10%;
    background: rgb(34, 34, 34);
    display: flex;
    border-radius: 15px;
    align-items: center;
    padding: 3%;
    height: 400px;
    justify-content: space-evenly;
 }

 .run-box div img{
    width: 80%;
    height: 80%;
    border-radius: 15px;
    margin-left: 25%;
 }

 .about-run h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 4%;
 }

 .about-run p{
    color: rgba(255, 255, 255, 0.5);
    margin-right: 30%;
    margin-bottom: 8%;
 }

 
.join-now{
    color: aliceblue;
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    padding: 2% 5%;
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    }
 

/* bmi section started */
.bmi-title{
    color: rgb(255, 255, 255); 
    font-weight: 900;
    text-align: center; 
    font-size: 3.5rem;
}

.about-bmi{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 0 15%;
    text-align: center;
    margin-top: 2%;
}

.calculator-background{
    background: rgb(34, 34, 34);
    margin: 5% 0;
    height: 500px;
    display: flex;
    justify-content: space-between;
    max-height: 1919px;
}
.calculator-box h3{
    color: rgb(255, 255, 255); 
    font-weight: 900;
    text-align:left; 
    font-size: 2rem;
    margin-left: 14%;
}
table{
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 60%;
    width: 40%;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    margin-left: 15%;
    margin-top: 2%;
}
td ,th{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);    
}

.calculator-title{
    color: aliceblue;
}
.calculator-box{
    margin-left: 3%;
    width: 80%;
    align-items: left;
    margin-top: 2.5%;
}

.bmi-calculator-box{
    height: 85%;
    width: 60%;
    margin-right: 10%;
    text-align: center;
    margin: 2.5% 15% 0 0;
}

.bmi-calculator-box h3{
    color: rgb(255, 255, 255); 
    font-weight: 900;
    font-size: 2rem;
   text-align: left;
}

.bmi-calculator-box p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    text-align: left;
    margin-top: 2%;
}

#calculation{
    margin: 5% 0 5% 0;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10px;
}

#calculation input,select,option{
padding: 4.7%;
border-radius: 15px;
border: none;
color:rgba(255, 255, 255, 0.5);
background-color:rgba(265, 255, 255, 0.08) ;
}

#calculation-btn{
    background: rgb(230, 83, 60);
    border: none;
    height: 55px;
    width: 55%;
}

/* about team member */
.team-container{
max-width: 1920px;
height: 100%;
max-height: 1200px;
margin: 5% 0;
padding-left: 10%;

padding: 0 5%;
padding-bottom: 0;
}

.team-title-one{
    color: rgb(255, 255, 255); 
    font-weight: 900;
    text-align:center; 
    font-size: 3.5rem;
}

.team-description-one{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 0 15%;
    text-align: center;
    margin-top: 1%;
}

.about-member{
margin: 5% 10% 0 10%;
background-color: rgb(34, 34, 34);
border-radius: 20px;
display: grid;
grid-template-columns: repeat(3,2fr);
gap: 2%;
padding: 1.5%;
min-height: 780px;
}

.member-name{
    color: rgb(255, 255, 255);
    font-size:30px;
}

.member-position{
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

.team-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    max-height: 380px;
}


.name-position{
position: absolute;
margin-left: -21%;
margin-top: 15%;
}

/* creative section from myself */

.creative-section{
    height: 1060px;
    max-width: 1920px;
    width: 100%;
    margin: 20px 0;
    border-radius: 30px;
}

.food-title{
    text-align: center;
    color: aliceblue;
    padding: 3%;
    font-size: 50px;
    padding-bottom: 1%;
}

.about-healthy-food{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 15%;
    font-size: 20px;
}

.food-items{
    margin: 2% 10%;
    height: 100%;
    max-height: 800px;
    background-color: black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,2fr)
}

.food-image{
    min-width: 300px;
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    padding: 12% 5%;
    justify-content: left;
    border-radius: 50%;
}

.food-item{
    display: flex;
    background-color: rgb(34, 34, 34);
    margin: 1.5%;
    border-radius: 20px;
    max-height: 100%;
    max-height: 375px;
    box-shadow: 10px 7px rgba(255, 255, 255, 0.2);
}

.food-information{
    justify-content: right;
    align-items: center;
    text-align: center;
    margin: auto 0;
}

.food-name{
    color: aliceblue;
    font-size: 35px;
}

.food-detalis{
    color: rgba(255, 255, 255, 0.5);
    padding: 5%;
    font-size: 20px;
}
/* creative section end from myself */
footer{
    background-color: rgb(34, 34, 34);
}

.footer-box{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.footer-box1{
    width: 45%;
    height: 100%;
}
.footer-title1{
    margin-top: 8%;
    color: rgb(230, 83, 60);
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
}

.footer-box1 p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1.5%;
    padding-right: 10%;
    
}

footer div ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 1.25rem;
}
.service-collection li{
    list-style:none;
    margin-top: 3%;
}
.footer-title3, .footer-title2 {
    margin-top: 25%;
    color: aliceblue;
    font-size: 3rem;
    margin-bottom: 20%;
}

.footer-title3{
    margin-top: 20%;
    margin-bottom: 15%;
}

.copyright{
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 100px;
    margin: 3% 10% 0 10%;
}

.copyright h2 {
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 50;
    margin: 2.5% 0;
}




.hide{
    display: none;
}


















@media screen and (max-width:576px) {
 *{
    margin: 0;
    padding: 0;
 }
    /* header part start here */
    .hide1{
        display: none;
    }

    .material-symbols-outlined li svg{
        display: block;
    }

    header{
        height: 1420px
    }
    .banner-container{
    display: flex;
    flex-direction: column;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-position{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin:10% 5%;  
}


.nav-name{
    color: rgb(230, 83, 60);
   font-size: 3rem;
   font-weight: 800;
   font-style: italic;
   }
.banner-box{
    height: 100%;
    width: 94%;
}

.banner-titel{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 5%;
    
    }

 .banner-p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
        margin-right: 15%;
        }

        
button{
    width: 35%;
    height: 70px;
    align-items: flex-start;
    padding: 1% 2%;
    border-radius: 45px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border: 1.5px solid white;
    }

    .share-button{
        color: rgb(255, 255, 255);
        background: rgb(260, 100, 60);
        border: none;
        height: 70px;
    }

    .btn-1{
        margin-left: 8%;
    }

    .btn-2{
        margin-right: 15%;
    }

    .nav-btns{
        justify-content: space-between;
    }

    
.banner-image{
    margin: 0 auto;
}

.button-picture{
    display: flex;
    align-items: center;
    width: 35%;
    height: 10%;
    border-radius: 9px;
    margin-top: -68%;
    margin-left: -2%;
    position: absolute;
    color: transparent;
    border: 1px solid rgb(82, 86, 89);
    background: rgba(255, 255, 255, 0.1);
    justify-content: space-evenly;
}

.button-picture-two{
    border: 1px solid rgb(82, 86, 89);
    margin-top: -108%;
    margin-left: 40%;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 37%;
    height: 9%;
}
/* header part end here */

/* habbit part start here */
.habbit-box{
    margin-bottom: 0px;
}
.habit-item-boxs{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.habbit-discription{
    margin: 5% 10%;
    margin-bottom: 15%;
}

.habit-item-boxs img{
    max-width: 80%;
}

.habit-item-boxs div >h3{
    font-size: 2rem;
}

.habit-item-boxs div >p{
    margin: 3% 10% 15% 10%;
}
/* habbit end start here */

/*  run-box start here */
.run-box{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 780px;
    margin: 5% 5% 30% 5%;
    border-radius: 30px;
}

.about-run{
    margin: 10% 5% 5% 5%;
}

.about-run p{
font-size: 1.25rem;
margin: 10% 0;
}

.join-now{
   background-color: rgb(230, 83, 60);
   margin: 0 auto;
   font-size: 1.5rem;
   font-weight: 600;
   padding: 5% 33%;
   border-radius: 30px;
   color: aliceblue;
   margin-left: 4%;
   }

   .run-box div >img{
    margin: 8% auto;
    height: 310px;
    width: 410px;
    border-radius: 30px;
   }

/*  run-box end here */

/*  bmi-box start here */
.calculator-background{
    display: flex;
    flex-direction: column;
    height: 1050px;
    justify-content: left;
    text-align: left;
}

.bmi-title{
    text-align: left;
    margin: 0 20% 5% 5%;
}
.about-bmi{
    text-align: left;
    margin: 0 10% 5% 5%;
    font-size: 1.25rem;
}

.calculator-box h3{
    font-size: 1.75rem;
    margin: 10% 0 5% 3%;
}

table{
    border: 1px solid rgba(71, 68, 68, 0.8);
    height: 120%;
    width: 100%;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    margin: 8% 0 5% 3%;
}

.calculator-title{
   font-size: 1.5rem;
   font-weight: 500;
}

.bmi-calculator-box{
    height: 50%;
    width: 90%;
    margin-right: 10%;
    text-align: center;
    margin: 0 auto;
    margin-top: 40%;
}

.bmi-calculator-box h3{
    font-size: 1.75rem;
    margin: 0 0 5% 3%;
}

.bmi-calculator-box p{
    text-align: left;
    margin: 0 10% 10% 5%;
    font-size: 1.25rem;
}

#calculation{
    margin: 5% 5% 5% 0;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 7%;
}

#calculation input,select,option{
    padding: 8% 10%;
    border-radius: 15px;
    color:rgba(255, 255, 255, 0.5);
    background-color:rgba(265, 255, 255, 0.08) ;
    width: 100%;
    max-width: 90%;
    }

    #calculation-btn{
        background: rgb(230, 83, 60);
        border: none;
        height: 75px;
        width: 115%;
        font-size: 25px;
    }

    
#x-1{
    min-width: 225%;
}

#gender{
    min-width: 110%;
}
/*  bmi-box end here */

/*  team-container start here */

.team-section{
    height:3200px;
}

 .team-title-one{
    margin: 13% auto 5%;
    font-size: 2.9rem;
 }

 .team-description-one{
    font-size: 1.3rem;
    margin: 5% auto 15%;
 }

 .about-member{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
    min-height: 100%;
    border-radius: 30px;
    justify-content: space-around;
    margin: 0 2%;
    align-items: center;
 }

 .team-image img{
    max-height: 450px;
    min-height: 449px;
    border-radius: 35px;
    margin: 2% 3%;
    width: 93%;
    position: relative;
}

.name-position{
    position: absolute;
    margin-left: -75%;
    margin-top: 65%;
    }

    .name-position-s{
        position: absolute;
        margin-left: -70%;
        margin-top: 65%;
    }
/*  team-container end here */

/*  creative-section start here */
.creative-section{
    height:100%;
}

.about-healthy-food{
    margin: 5% 5% 10% 5%;
}

.food-title{
    margin-top: 10%;
}
.food-items{
    display: flex;
    flex-direction: column;
    margin:0;
    height: 60%;
    max-height: 100%;
    background-color: black;
    border-radius: 15px;
}

.food-image{
    width: 0px;
    height: 0px;
    max-height: 0px;
    max-width: 40%;
    min-height: 90%;
    border: 3px solid gray;
    padding: 0;
    margin: 0;
    margin-top: 2%;
    border-radius: 100%;
    margin-left: 2%;
}

.food-item{
    border: 2px solid gray;
    display: flex;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    height: 200px;
    width:90%;
    box-shadow: none;
    margin: 2% auto;
}
.food-name{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10% 0 0 25%;
    text-align: left;
}

.food-name-s{
    font-size: 1.2rem;
    width: 150%;
}
.food-detalis{
    color: rgba(255, 255, 255, 0.5);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    margin: 5% 0 0 27%;
    width: 160%;
    font-weight: 200;
    text-align: left;
}

.food-detalis-s{
    width: 120%;
    margin-right: 0;
}
.food-information{
    justify-content: right;
    margin: 5% 20% 5% 0;
}
/*  creative-section end here */

/*  footer start here */
.footer-box{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    padding: 0;
}

.footer-title1{
    margin: 15% 0;
    margin-top: 25%;
    font-size: 6rem;
}

.footer-box1 p{
    margin: 0;
    padding: 0;
    width: 200%;
    font-weight: 300;
    font-size: 1.5rem;
}

.footer-title2 ,.footer-title3{
    margin: 20% 0 10% 0;
}

footer div ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 2rem;
}

.copyright{
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 100px;
    margin: 20% auto 0 ;
    width: 85%;
}

.copyright h2 {
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.75rem;
    font-weight: 50;
    margin: 8% 0;
    font-weight: 400;
}
/* footer end here */
}